{% extends '../base.html.twig' %}
{% block body %}

     <div class="center_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <br/>
                        <form class="form-horizontal" method="POST" action="saveAllRoster" enctype="multipart/form-data">
                            <div class="form-group" style="margin-left: 40%;"> 
                            <label for="fileInput" style=" margin-left: 15px; ">Specify path to XLS file:</label>
                                <input type="file" name="file" id="fileInput"
                                       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                <input type="submit" class="btn btn-primary" style=" margin-left: 50px; margin-top: 10px; " value="Upload">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#form_submit').on('click', function (event) {
            event.preventDefault();
        });
        $('#saveChanges').on('click', function () {
            $('form').submit();
        });
        $('#deleteBtn').on('click', function (event) {
            event.preventDefault();
        });
    </script>
{% endblock %}
