<h3>Hours of Operation</h3>
<dl class="dl-horizontal">
        {% for day in hours %}
                <dt>{{ day.day }}</dt>
                <dd>{{ day.startTime|date("hh:mm a") }} - {{ day.endTime|date("hh:mm a") }}</dd>
        {% endfor %}
</dl>
